In [1]:
import sys
sys.path.append("/Users/fgu/dev/projects/ons")

import pandas as pd
import s3fs

import ons.config as c
import ons.helpers as h
import ons.lookup_table as lt

%load_ext autoreload
%autoreload 2

fs = s3fs.S3FileSystem(profile=c.AWS_PROFILE)

In [2]:
fs.ls('3di-data-ons/nspl/NSPL_AUG_2020_UK/clean')

['3di-data-ons/nspl/NSPL_AUG_2020_UK/clean/',
 '3di-data-ons/nspl/NSPL_AUG_2020_UK/clean/lookup.csv',
 '3di-data-ons/nspl/NSPL_AUG_2020_UK/clean/lookup_nspl_aug_2020_uk.parquet']

In [10]:
lt.main(nrows=10000)

,is_urban,pcsector,region_code,region_name,rural_urban_code,rural_urban_name
0,1,ab10 1,s99999999,scotland,1,large urban area
1,1,ab10 6,s99999999,scotland,1,large urban area
2,1,ab10 7,s99999999,scotland,1,large urban area
3,1,ab11 5,s99999999,scotland,1,large urban area
4,1,ab11 6,s99999999,scotland,1,large urban area
5,1,ab11 7,s99999999,scotland,1,large urban area
6,1,ab11 8,s99999999,scotland,1,large urban area
7,1,ab11 9,s99999999,scotland,1,large urban area
8,1,ab12 3,s99999999,scotland,1,large urban area
9,0,ab12 4,s99999999,scotland,6,accessible rural
10,1,ab12 5,s99999999,scotland,1,large urban area
11,1,ab12 9,s99999999,scotland,1,large urban area
12,1,ab13 0,s99999999,scotland,3,accessible small town
13,0,ab14 0,s99999999,scotland,6,accessible rural
14,1,ab15 4,s99999999,scotland,1,large urban area
15,1,ab15 5,s99999999,scotland,1,large urban area
16,1,ab15 6,s99999999,scotland,1,large urban area
17,0,ab15 7,s99999999,scotland,6,accessible rural
18,1,ab15 8,s99999999,scotland,1,large urban area
19,1,ab15 9,s99999999,scotland,1,large urban area
20,1,ab16 5,s99999999,scotland,1,large urban area
21,1,ab16 6,s99999999,scotland,1,large urban area
22,1,ab16 7,s99999999,scotland,1,large urban area
23,1,ab16 9,s99999999,scotland,1,large urban area

In [43]:
h.read_csv('s3://3di-data-ons/nspl/NSPL_AUG_2020_UK/clean/lookup.csv', nrows=10)

  pcsector region_code region_name  rural_urban_code  rural_urban_name
0   AB10 1   S99999999    Scotland                 1  Large Urban Area
1   AB10 6   S99999999    Scotland                 1  Large Urban Area
2   AB10 7   S99999999    Scotland                 1  Large Urban Area
3   AB11 5   S99999999    Scotland                 1  Large Urban Area
4   AB11 6   S99999999    Scotland                 1  Large Urban Area
5   AB11 7   S99999999    Scotland                 1  Large Urban Area
6   AB11 8   S99999999    Scotland                 1  Large Urban Area
7   AB11 9   S99999999    Scotland                 1  Large Urban Area
8   AB12 3   S99999999    Scotland                 1  Large Urban Area
9   AB12 4   S99999999    Scotland                 6  Accessible Rural